h1 {
    text-align: center;
}

#js090_test1{

    margin: auto;

    padding: 0px;

    border: 1px solid #660000;

    width:800px;

    height:650px;

    position: relative;

}


#js090_test1 div {

    display: inline-block;

    margin: 0px;

    padding: 0px;

    width: 150px;

    height: 150px;

    border: 1px solid #777777;

}


#js090_test1 div img {

    display: block;

    margin: auto;

    padding: 0px;

    margin-top: 50%;

    transform: translateY(-50%); /* tirée de la moitié de sa propre hauteur */

}


#a11 {

    background-color:blue;

    position:absolute;

    top:50px;

    left:50px;

}


#a12 {

    background-color:orange;

    position:absolute;

    top:50px;

    left:300px;

}


#a13 {

    background-color:green;

    position:absolute;

    top:50px;

    left:550px;

}


#b21 {

    background-color:red;

    position:absolute;

    top:250px;

    left:50px;

}


#b22 {

    background-color:yellow;

    position:absolute;

    top:250px;

    left:300px;

}


#b23 {

    background-color:black;

    position:absolute;

    top:250px;

    left:550px;

}


#c31 {

    background-color:cyan;

    position:absolute;

    top:450px;

    left:300px;

}


#c32 {

    background-color:grey;

    position:absolute;

    top:450px;

    left:550px;

}


#c33 {

    background-color:purple;

    position:absolute;

    top:450px;

    left:50px;

}
#aubutton {
    align-items: center; 
}
#clickme{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
}
